.logo{
  height: 35px;
  width: 200px;
}

header.mdc-theme--background.mdc-toolbar {
  background-color: transparent;
  padding: 0 50px;
  box-shadow: 
    0 1px 3px rgba(0,0,0,.2),
    0 1px 1px rgba(0,0,0,.14),
    0 2px 1px -1px rgba(0,0,0,.12);
}

#app{
  height: 100vh;
  width: 100vw;
}

main.main-container{
  height: calc(100% - 50px);
  padding: 50px 50px 0;
}