.mdc-list-item__start-detail.material-icons{
  font-size: 40px;
}
.mdc-list-item__end-detail{
  width: 40px;
  height: 40px;
}

.mdc-list--two-line .mdc-list-item .item__score {
  display: inline-flex;
  flex: 0 1 40px;
  align-self: center;
  justify-content: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  margin-right: 15px;
  background-color: var(--mdc-theme-primary, #3f51b5);
}

.comments__container{
  margin-top: 50px;
}