body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
  color: currentColor;
}

.mdc-button:not(:disabled).mdc-dark{
  color: var(--mdc-theme-text-primary-on-background,rgba(0, 0, 0, 0.87));
}

/*  App */
.logo{
  height: 35px;
  width: 200px;
}

header.mdc-theme--background.mdc-toolbar {
  background-color: transparent;
  padding: 0 50px;
  box-shadow: 
    0 1px 3px rgba(0,0,0,.2),
    0 1px 1px rgba(0,0,0,.14),
    0 2px 1px -1px rgba(0,0,0,.12);
}

#app{
  height: 100vh;
  width: 100vw;
}

main.main-container{
  height: calc(100% - 67px);
  padding: 10px 50px 0;
  box-sizing: border-box;
}

/* Main */
.mdc-toolbar__section.mdc-toolbar__section--align-end .mdc-select{
  margin: 0 50px;
}

.mdc-list-item__start-detail.material-icons{
  font-size: 40px;
}

.mdc-list-item__end-detail{
  cursor: pointer;
}

.mdc-list-item__end-detail.item-ctrls{
  width: 60px;
  display: flex;
  justify-content: space-between;
}


.tool-contrl{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tool-contrl button:last-of-type{
  margin-left: 25px;
}

.mdc-typography--headline.mdc-theme--primary{
  flex: 1;
  /* margin: 0; */
  white-space: nowrap;
}

.btn-group{
  display: inline-flex;
}

.mdc-list-item .item__score {
  display: inline-flex;
  flex: 0 1 40px;
  align-self: center;
  justify-content: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  margin-right: 15px;
  background-color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.mdc-temporary-drawer--selected.mdc-list-item .item__score{
  background-color: var(--mdc-theme-primary, #3f51b5);
}

.mdc-list-group__subheader{
  white-space: nowrap;
}


.mdc-typography--headline.mdc-theme--primary::after,
.mdc-list-group__subheader::after {
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,var(--mdc-theme-primary, rgba(116,95,181,0.8)),transparent 80%);
}

.comments__container{
  margin-top: 50px;
}

.container .mdc-list-item__text{
  cursor: pointer;
}