body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
  color: currentColor;
}

.full-height{
  height: 100%;
}

.flex-grow{
  flex: 1 1 auto;
}

.mdc-button:not(:disabled).mdc-dark{
  color: var(--mdc-theme-text-primary-on-background,rgba(0, 0, 0, 0.87));
}

/*  App */
.logo{
  height: 35px;
  width: 200px;
}

header.mdc-theme--background.mdc-toolbar {
  background-color: transparent;
  padding: 0 50px;
  box-shadow: 
    0 1px 3px rgba(0,0,0,.2),
    0 1px 1px rgba(0,0,0,.14),
    0 2px 1px -1px rgba(0,0,0,.12);
}

#app{
  height: 100vh;
  width: 100vw;
}

main.main-container{
  height: calc(100% - 67px);
  padding: 10px 50px 0;
  box-sizing: border-box;
}

/* Main */
.mdc-list-group .mdc-list{
  overflow-y: auto;
  max-height: calc( 100vh - 300px);
}

.mdc-toolbar__section.mdc-toolbar__section--align-end .mdc-select{
  margin: 0 50px;
}

.mdc-list-item__start-detail.material-icons{
  font-size: 40px;
}

.mdc-list-item__end-detail{
  cursor: pointer;
}

.mdc-list-item__end-detail.item-ctrls{
  width: 72px;
  min-width: 72px;
  display: flex;
  justify-content: space-between;
}

.form__post{
  width: 100%;
}
.post__title,.post__body{
  flex: 1;
}


.tool-contrl{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tool-contrl button:last-of-type{
  margin-left: 25px;
}

.mdc-typography--headline.mdc-theme--primary{
  flex: 1;
  /* margin: 0; */
  white-space: nowrap;
}

.btn-group{
  display: inline-flex;
}

.mdc-list-item .item__score {
  display: inline-flex;
  flex: 0 1 40px;
  align-self: center;
  justify-content: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  margin-right: 15px;
  background-color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}

.mdc-temporary-drawer--selected.mdc-list-item .item__score{
  background-color: var(--mdc-theme-primary, #3f51b5);
}

.mdc-list-group__subheader{
  white-space: nowrap;
}


.mdc-typography--headline.mdc-theme--primary::after,
.mdc-list-group__subheader::after {
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 200px;
  height: 1px;
  background: linear-gradient(to right,var(--mdc-theme-primary, rgba(116,95,181,0.8)),transparent 80%);
}

.container .mdc-list-item__text,
.comments__container .mdc-list-item__text{
  cursor: pointer;
  flex:1;
  max-width: calc(100% - 125px);
  overflow: hidden;
}

.container .mdc-list-item__text cite,
.comments__container .mdc-list-item__text cite{
  float: right;
  margin-right: 15px;
}

cite .material-icons + .material-icons{
  margin: 0 15px;
}

/* Post */

.post__content{
  height: calc(100% - 80px - 56px - 32px);
}

/* comments */
.comments-list{
  height: calc(100vh - 200px);
  overflow-y: auto;
}

/* PreLoader */

.back-shade{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader{
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border:3px solid transparent;
  border-top-color: #3498db;
  z-index:10;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.loader:before{
  content:"";
  position: absolute;
  top:5px;
  left: 5px;
  right:5px;
  bottom:5px;
  border:3px solid transparent;
  border-top-color: #e74c3c;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

.loader:after{
  content:"";
  position: absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:3px solid transparent;
  border-top-color:#f9c922;
  border-radius: 50%;
  animation: spin 4s linear infinite;
}

@keyframes spin{
  0% {
      transform: rotate(0deg);
  } 100% {
      transform: rotate(360deg);
  }
}